# Node.js dependencies
node_modules/
npm-debug.log

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Docker
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# GitHub Actions
.github/workflows/

# Ignore IDE files
.vscode/
.idea/
.DS_Store

